// Colores de Ionic
$color-primary: #3880ff;
$color-secondary: #0cd1e8;
$color-tertiary: #7044ff;
$color-success: #10dc60;
$color-warning: #ffce00;
$color-danger: #e80d0d;
$color-light: #f26727;
$color-medium: #0f3be9;
$color-dark: #0f40a1;

// Estilos para Swiper
.swiper-container {
  width: 100%;
  height: 100%;
  
  // Personalización del color de paginación del Swiper
  --swiper-pagination-color: $color-primary !important;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Estilos específicos para el modo avatar
  &.avatar-slide {
    --border-radius: 0px;
  }
}

// Estilos para títulos y fondos de los slides
.red-title {
  color: $color-danger; // Color verde para títulos destacados
}

.slide-1 {
  background-color: $color-danger; // Fondo rojo para la primera diapositiva
  font-size: 30px; // Tamaño de fuente aumentado para la primera diapositiva
}

.slide-2 {
  background-color: $color-success; // Fondo verde para la segunda diapositiva
}

.slide-3 {
  background-color: $color-primary; // Fondo azul para la tercera diapositiva
}

.slide-4 {
  background-color: $color-tertiary; // Fondo azul para la cuarta diapositiva
}

// Puedes agregar estilos adicionales según sea necesario
