// Colores de Ionic
$color-primary: #3880ff;
$color-secondary: #0cd1e8;
$color-tertiary: #7044ff;
$color-success: #10dc60;
$color-warning: #ffce00;
$color-danger: #f04141;
$color-light: #f4f5f8;
$color-medium: #989aa2;
$color-dark: #222428;

// Estilos para Swiper
.swiper-container {
  width: 100%;
  height: 100%;
  --swiper-pagination-color: $color-primary !important;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Estilos específicos para el avatar
  &.avatar-slide {
    --border-radius: 0px;
  }
}

// Estilos para títulos y fondos de los slides
.red-title {
  color: $color-danger;
}

.slide-1 {
  background-color: $color-danger;
  font-size: 30px;
}

.slide-2 {
  background-color: $color-success; // Color verde
}

.slide-3 {
  background-color: $color-primary;
}

.slide-4 {
  background-color: $color-tertiary;
}

// TODO: Implementar la lógica para manejar la autenticación de usuarios
// FIXME: Este bloque de código necesita ser revisado, está generando errores
