<ion-header>
  <ion-toolbar>
    <!-- Botón para volver a la página de inicio de sesión -->
    <ion-buttons>
      <ion-button (click)="goToLogin()">Volver</ion-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Logo del formulario -->
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar">
      <img src="../../assets/descarga.png" alt="inicio" class="logo">
    </ion-avatar>
  </figure>

  <h1>Formulario de Registro</h1>
  
  <!-- Formulario de registro -->
  <form action="formulario.php" method="post">
    <ion-item>
      <!-- Campo de Nombre -->
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input type="text" id="nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <!-- Campo de Correo -->
      <ion-label position="stacked">Correo:</ion-label>
      <ion-input type="email" id="correo" name="correo" required></ion-input>
    </ion-item>

    <ion-item>
      <!-- Campo de Celular -->
      <ion-label position="stacked">Celular:</ion-label>
      <ion-input type="tel" id="celular" name="celular" required></ion-input>
    </ion-item>

    <ion-item>
      <!-- Campo de Dirección -->
      <ion-label position="stacked">Dirección:</ion-label>
      <ion-input type="text" id="direccion" name="direccion"></ion-input>
    </ion-item>

    <!-- Botón de registro -->
    <ion-button
      expand="full"
      shape="round"
      color="success"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Registrarse
    </ion-button>
  </form>
</ion-content>

