<ion-header>
  <ion-toolbar>
    <!-- Botón para volver a la página de inicio de sesión -->
    <ion-buttons>
      <ion-button (click)="goToHome()">Volver</ion-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Logo del formulario -->
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar">
      <img src="../../assets/descarga.png" alt="inicio" class="logo">
    </ion-avatar>
  </figure>

  <h1>Formulario de Registro</h1>
  
  <!-- Formulario de registro -->
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>  
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="
        (registerForm.get('email')?.hasError(validation.type) && 
        registerForm.get('email')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Nommbre" formControlName="name"></ion-input>
    </ion-item> 
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div *ngIf="
        (registerForm.get('name')?.hasError(validation.type) && 
        registerForm.get('name')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input label="Apellido" labelPlacement="floating" placeholder="Apellido" formControlName="last_name"></ion-input>
    </ion-item> 
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.last_name">
        <div *ngIf="
        (registerForm.get('last_name')?.hasError(validation.type) && 
        registerForm.get('last_name')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Contraseña" formControlName="password"></ion-input>
    </ion-item> 
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="
        (registerForm.get('password')?.hasError(validation.type) && 
        registerForm.get('password')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div> 
    <ion-item>
      <ion-input type="password" label="Confirme Contraseña" labelPlacement="floating" placeholder="Confirme Contraseña" formControlName="confirmation_password"></ion-input>
    </ion-item>   
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.confirmation_password">
        <div *ngIf="
        (registerForm.get('confirmation_password')?.hasError(validation.type) && 
        registerForm.get('confirmation_password')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-button
      expand="full"
      shape="round"
      color="success"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Registrarse
    </ion-button>
  </form>
</ion-content>

