<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¡Bienvenidos a BoletosBlink!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Contenido del home -->
  <div class="welcome-container">
    <h1 class="welcome-heading">Hola</h1>
    <p class="welcome-message">Gracias por elegir BoletosBlink. Estamos emocionados de tenerte con nosotros.</p>
    <ion-button expand="full" color="primary" (click)="goToIntro()">¡Dale click para comenzar!</ion-button>
  </div>
</ion-content>