ion-header {
  ion-toolbar {
    ion-title {
      text-align: center;
    }
  }
}

ion-content {
  swiper-container {
    height: 100%;
  }

  ion-card {
    img {
      max-width: 100%;
    }

    ion-card-header {
      ion-card-title,
      ion-card-subtitle {
        white-space: normal; // Permite que el texto tenga saltos de línea si es necesario
      }
    }

    ion-card-content {
      p {
        margin-bottom: 5px;
      }

      strong {
        font-weight: bold;
      }
    }
  }
}
