/* menu.page.scss */

ion-menu {
    --width: 250px; /* Ancho del menú lateral */
  }
  
  ion-menu-button {
    color: #0c98f5; /* Color del botón de menú */
  }
  
  .menu-content {
    background-color: #f60a0a; /* Color de fondo del contenido del menú */
  }
  
  ion-list {
    ion-item {
      border-bottom: 1px solid #060000; /* Borde inferior de los elementos de la lista del menú */
    }
  }
  
  /* Efecto de transición para el menú */
  .menu-inner {
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-open {
    transform: translateX(var(--width));
  }
  
  /* Efecto de sombra cuando el menú está abierto */
  .menu-inner::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--width);
    background: rgba(0, 0, 0, 0.4); /* Color y opacidad de la sombra */
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 9;
  }
  
  .menu-open::after {
    opacity: 1;
  }
  
  /* Añade estilos adicionales según sea necesario */
  // TODO: Implementar la lógica para manejar la autenticación de usuarios
// FIXME: Este bloque de código necesita ser revisado, está generando errores

// ... (código TypeScript) ...
