.validation-message {
    color: red; /* O cualquier color que desees para mensajes de validación */
  }
  
  .login-button {
    color: white;
    background-color: #28a745; /* Color de éxito */
    border-radius: 10px; /* Ajustar según sea necesario */
  }
  
  .center-avatar {
    margin: 20px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  