ion-header {
  ion-toolbar {
    ion-title {
      &.ion-text-center.ion-text-uppercase {
        text-align: center;
        text-transform: uppercase;
        color: #3498db; // Color azul para el título
      }
    }
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 20px;
    font-size: 24px; // Ajusta el tamaño del título
    color: #2ecc71; // Color verde para el título
  }

  form {
    label {
      display: block;
      margin-top: 10px;
      color: #333; // Color de texto oscuro para las etiquetas
    }

    input {
      width: 100%;
      padding: 10px; // Ajusta el relleno de los campos de entrada
      margin-bottom: 20px; // Ajusta el margen inferior de los campos de entrada
      border: 1px solid #ccc; // Añade un borde sutil a los campos de entrada
      border-radius: 5px; // Añade esquinas redondeadas a los campos de entrada
    }
  }

  .center-avatar {
    margin-top: 20px;

    img.logo {
      max-width: 100%;
      height: auto;
      border-radius: 50%; // Haz que el logo sea circular
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añade una sombra sutil al logo
    }
  }

  .validation-message {
    margin-top: 10px;
    color: #e74c3c; // Color rojo oscuro para los mensajes de validación

    div {
      margin-top: 5px;
    }
  }
}
